h1{
    text-align:center;
    padding:35px;
    background-color:antiquewhite;
    color:black;
    font-weight:bolder;
    margin:-10px;
}
p{
    text-align:center;
    font-weight: bolder;
}
.button{
    cursor:pointer;
    background-color:green;
    color:white;
    font-size:20px;
    /* text-align:right; */
    margin-left:340px;
    margin-right:310px;
    border-radius:25px;
}
body{
    background-color:aliceblue;
}

